[submodule "docs/OWASP-CRS-Documentation"]
	path = docs/OWASP-CRS-Documentation
	url = git@github.com:coreruleset/documentation.git
	branch = main
[submodule "util/regexp-assemble/lib/lib"]
        path = util/regexp-assemble/lib/lib
        url = https://github.com/coreruleset/Regexp-Assemble.git
        branch = master
        depth = 1
