# ------------------------------------------------------------------------
# OWASP ModSecurity Core Rule Set ver.3.3.0
# Copyright (c) 2006-2020 Trustwave and contributors. All rights reserved.
#
# The OWASP ModSecurity Core Rule Set is distributed under
# Apache Software License (ASL) version 2
# Please see the enclosed LICENSE file for full details.
# ------------------------------------------------------------------------

# The directives in this file add the generic transformations of the ARGS
# parameters to the target list of those rules that inspect the ARGS 
# parameter.
#
# Please read the documentation about generic transformations of the ARGS
# parameters in the crs-setup.conf file.
#

SecRuleUpdateTargetById 913120 TX:/^tf_/
SecRuleUpdateTargetById 920230 TX:/^tf_/
SecRuleUpdateTargetById 920250 TX:/^tf_/
SecRuleUpdateTargetById 920270 TX:/^tf_/
SecRuleUpdateTargetById 920271 TX:/^tf_/
SecRuleUpdateTargetById 920272 TX:/^tf_/
SecRuleUpdateTargetById 920273 TX:/^tf_/
SecRuleUpdateTargetById 920370 TX:/^tf_/
SecRuleUpdateTargetById 920460 TX:/^tf_/
SecRuleUpdateTargetById 921110 TX:/^tf_/
SecRuleUpdateTargetById 921120 TX:/^tf_/
SecRuleUpdateTargetById 921130 TX:/^tf_/
SecRuleUpdateTargetById 921200 TX:/^tf_/
SecRuleUpdateTargetById 930100 TX:/^tf_/
SecRuleUpdateTargetById 930110 TX:/^tf_/
SecRuleUpdateTargetById 930120 TX:/^tf_/
SecRuleUpdateTargetById 931100 TX:/^tf_/
SecRuleUpdateTargetById 931120 TX:/^tf_/
SecRuleUpdateTargetById 931130 TX:/^tf_/
SecRuleUpdateTargetById 932100 TX:/^tf_/
SecRuleUpdateTargetById 932101 TX:/^tf_/
SecRuleUpdateTargetById 932105 TX:/^tf_/
SecRuleUpdateTargetById 932106 TX:/^tf_/
SecRuleUpdateTargetById 932106 TX:/^tf_/
SecRuleUpdateTargetById 932110 TX:/^tf_/
SecRuleUpdateTargetById 932115 TX:/^tf_/
SecRuleUpdateTargetById 932120 TX:/^tf_/
SecRuleUpdateTargetById 932130 TX:/^tf_/
SecRuleUpdateTargetById 932140 TX:/^tf_/
SecRuleUpdateTargetById 932150 TX:/^tf_/
SecRuleUpdateTargetById 932160 TX:/^tf_/
SecRuleUpdateTargetById 932171 TX:/^tf_/
SecRuleUpdateTargetById 932190 TX:/^tf_/
SecRuleUpdateTargetById 932200 TX:/^tf_/
SecRuleUpdateTargetById 933100 TX:/^tf_/
SecRuleUpdateTargetById 933120 TX:/^tf_/
SecRuleUpdateTargetById 933130 TX:/^tf_/
SecRuleUpdateTargetById 933131 TX:/^tf_/
SecRuleUpdateTargetById 933140 TX:/^tf_/
SecRuleUpdateTargetById 933150 TX:/^tf_/
SecRuleUpdateTargetById 933151 TX:/^tf_/
SecRuleUpdateTargetById 933160 TX:/^tf_/
SecRuleUpdateTargetById 933161 TX:/^tf_/
SecRuleUpdateTargetById 933170 TX:/^tf_/
SecRuleUpdateTargetById 933180 TX:/^tf_/
SecRuleUpdateTargetById 933190 TX:/^tf_/
SecRuleUpdateTargetById 933200 TX:/^tf_/
SecRuleUpdateTargetById 933210 TX:/^tf_/
SecRuleUpdateTargetById 934100 TX:/^tf_/
SecRuleUpdateTargetById 941100 TX:/^tf_/
SecRuleUpdateTargetById 941110 TX:/^tf_/
SecRuleUpdateTargetById 941120 TX:/^tf_/
SecRuleUpdateTargetById 941130 TX:/^tf_/
SecRuleUpdateTargetById 941140 TX:/^tf_/
SecRuleUpdateTargetById 941150 TX:/^tf_/
SecRuleUpdateTargetById 941160 TX:/^tf_/
SecRuleUpdateTargetById 941170 TX:/^tf_/
SecRuleUpdateTargetById 941180 TX:/^tf_/
SecRuleUpdateTargetById 941190 TX:/^tf_/
SecRuleUpdateTargetById 941200 TX:/^tf_/
SecRuleUpdateTargetById 941210 TX:/^tf_/
SecRuleUpdateTargetById 941220 TX:/^tf_/
SecRuleUpdateTargetById 941230 TX:/^tf_/
SecRuleUpdateTargetById 941240 TX:/^tf_/
SecRuleUpdateTargetById 941250 TX:/^tf_/
SecRuleUpdateTargetById 941260 TX:/^tf_/
SecRuleUpdateTargetById 941270 TX:/^tf_/
SecRuleUpdateTargetById 941280 TX:/^tf_/
SecRuleUpdateTargetById 941290 TX:/^tf_/
SecRuleUpdateTargetById 941300 TX:/^tf_/
SecRuleUpdateTargetById 941310 TX:/^tf_/
SecRuleUpdateTargetById 941320 TX:/^tf_/
SecRuleUpdateTargetById 941330 TX:/^tf_/
SecRuleUpdateTargetById 941340 TX:/^tf_/
SecRuleUpdateTargetById 941350 TX:/^tf_/
SecRuleUpdateTargetById 941360 TX:/^tf_/
SecRuleUpdateTargetById 941370 TX:/^tf_/
SecRuleUpdateTargetById 941380 TX:/^tf_/
SecRuleUpdateTargetById 942100 TX:/^tf_/
SecRuleUpdateTargetById 942110 TX:/^tf_/
SecRuleUpdateTargetById 942120 TX:/^tf_/
SecRuleUpdateTargetById 942130 TX:/^tf_/
SecRuleUpdateTargetById 942140 TX:/^tf_/
SecRuleUpdateTargetById 942150 TX:/^tf_/
SecRuleUpdateTargetById 942160 TX:/^tf_/
SecRuleUpdateTargetById 942170 TX:/^tf_/
SecRuleUpdateTargetById 942180 TX:/^tf_/
SecRuleUpdateTargetById 942190 TX:/^tf_/
SecRuleUpdateTargetById 942200 TX:/^tf_/
SecRuleUpdateTargetById 942210 TX:/^tf_/
SecRuleUpdateTargetById 942220 TX:/^tf_/
SecRuleUpdateTargetById 942230 TX:/^tf_/
SecRuleUpdateTargetById 942240 TX:/^tf_/
SecRuleUpdateTargetById 942250 TX:/^tf_/
SecRuleUpdateTargetById 942251 TX:/^tf_/
SecRuleUpdateTargetById 942260 TX:/^tf_/
SecRuleUpdateTargetById 942270 TX:/^tf_/
SecRuleUpdateTargetById 942280 TX:/^tf_/
SecRuleUpdateTargetById 942290 TX:/^tf_/
SecRuleUpdateTargetById 942300 TX:/^tf_/
SecRuleUpdateTargetById 942310 TX:/^tf_/
SecRuleUpdateTargetById 942320 TX:/^tf_/
SecRuleUpdateTargetById 942330 TX:/^tf_/
SecRuleUpdateTargetById 942340 TX:/^tf_/
SecRuleUpdateTargetById 942350 TX:/^tf_/
SecRuleUpdateTargetById 942360 TX:/^tf_/
SecRuleUpdateTargetById 942361 TX:/^tf_/
SecRuleUpdateTargetById 942362 TX:/^tf_/
SecRuleUpdateTargetById 942370 TX:/^tf_/
SecRuleUpdateTargetById 942380 TX:/^tf_/
SecRuleUpdateTargetById 942390 TX:/^tf_/
SecRuleUpdateTargetById 942400 TX:/^tf_/
SecRuleUpdateTargetById 942410 TX:/^tf_/
SecRuleUpdateTargetById 942430 TX:/^tf_/
SecRuleUpdateTargetById 942431 TX:/^tf_/
SecRuleUpdateTargetById 942432 TX:/^tf_/
SecRuleUpdateTargetById 942440 TX:/^tf_/
SecRuleUpdateTargetById 942450 TX:/^tf_/
SecRuleUpdateTargetById 942460 TX:/^tf_/
SecRuleUpdateTargetById 942470 TX:/^tf_/
SecRuleUpdateTargetById 942480 TX:/^tf_/
SecRuleUpdateTargetById 942490 TX:/^tf_/
SecRuleUpdateTargetById 942500 TX:/^tf_/
SecRuleUpdateTargetById 942510 TX:/^tf_/
SecRuleUpdateTargetById 942511 TX:/^tf_/
SecRuleUpdateTargetById 943100 TX:/^tf_/
SecRuleUpdateTargetById 944100 TX:/^tf_/
SecRuleUpdateTargetById 944110 TX:/^tf_/
SecRuleUpdateTargetById 944120 TX:/^tf_/
SecRuleUpdateTargetById 944130 TX:/^tf_/
SecRuleUpdateTargetById 944200 TX:/^tf_/
SecRuleUpdateTargetById 944210 TX:/^tf_/
SecRuleUpdateTargetById 944240 TX:/^tf_/
SecRuleUpdateTargetById 944250 TX:/^tf_/
SecRuleUpdateTargetById 944300 TX:/^tf_/


# The following rules generally lead to false positives with the decoded files.
# They are thus excluded automatically for the decoded / transformed parameters.
#
# Rule Exclusion: 920271 PL2 Invalid character in request (non printable characters)
# Rule Exclusion: 920272 PL3 Invalid character in request (outside of printable chars below ascii 127)
# Rule Exclusion: 920273 PL4 Invalid character in request (outside of very strict set)
# Rule Exclusion: 942432 PL4 Restricted SQL Character Anomaly Detection (args): # of special characters exceeded (2)
# Rule Exclusion: 942460 PL3 Meta-Character Anomaly Detection Alert - Repetitive Non-Word Characters

SecRuleUpdateTargetById 920271 !TX:/^tf_/
SecRuleUpdateTargetById 920272 !TX:/^tf_/
SecRuleUpdateTargetById 920273 !TX:/^tf_/
SecRuleUpdateTargetById 942432 !TX:/^tf_/
SecRuleUpdateTargetById 942460 !TX:/^tf_/
