name: Mark stale issues

on:
  schedule:
  - cron: "0 0 * * *"

jobs:
  stale:

    runs-on: ubuntu-latest
    if: github.repository == 'coreruleset/coreruleset'

    steps:
    - uses: actions/stale@28ca1036281a5e5922ead5184a1bbf96e5fc984e # v9.0.0
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has been open 45 days waiting for feedback. Remove the stale label or comment, or this will be closed in 30 days'
        stale-issue-label: 'Stale issue'
        days-before-stale: 45
        days-before-close: 30
        only-issue-labels: ':hourglass_flowing_sand: awaiting feedback'
